<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>	
	<form action="index.php?c=message&a=doEdit" method="post">
		<table border="1px solid:black">
			<tr>
				<td>id</td>
				<td>title</td>
				<td>author</td>
				<td>content</td>
				<td> </td>
			</tr>
    		<?php  foreach ($res as $row) { ?>
				<tr>
					<td><?php echo $row['id']; ?></td>
					<td><?php echo $row['title']; ?></td>
					<td><?php echo $row['author']; ?></td>
					<td><?php echo $row['content']; ?></td>
					<td><a href="index.php?c=message&a=edit&id=<?php echo $row['id']?>">edit</a></td>
				</tr>
   			 <?php } ?>
		</table>
	</form>
</body>
</html>